.product-card {
    position: relative;
  }
  
  #InfoProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: linear-gradient(to top, #000000 30%, transparent );
    /* Ajusta otros estilos según tus necesidades */
  }
  
  .product-card img {
    display: block;
    width: 100%;
    height: auto;
  }
  