.Direccion {
    width: 95%;
    height: 600px;
    position: absolute;
    left: 2.5%;
    margin-top: 45%;
    background-color: black;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.Carrousel{
    margin-top: -6%;
}

.Info {
    position: relative;
    margin-left: 10%;
    width: 30%;
}

.Info h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.Info p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.ImageContainer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.ImageContainer img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}


.ProductTitle {
    margin-bottom: 20px;
    text-align: center; /* Centra el texto del título */
}

.ProductTitle h1 {
    font-size: 80px;
    font-weight: bold;
    color: #e4b61a;
}

.CardContainer {
    display: flex; 
    text-align: center;
    width: 100%; 
  }
  
  .Card {
    width: 100%; 
  }
  
  .Description {
    position: absolute;
    top: 0; 
    left: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease;
    left: 50%; 
    transform: translateX(-50%); 
  }
  
  .Card:hover img {
    filter: blur(3px);
  }
  
  .Card:hover .Description {
    opacity: 1;
  }



.Foot {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    margin-top: 90%;
    justify-content: center;
    align-items: center;
}