#containerAcerca{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    background-color: #fff;
    margin-top: 20px;
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo{
    position: absolute;
    top: 220px;
    left: 50px;
    width: 25%;
}

#somostxt{
    text-align: justify;
    font-size: large;
}

#Mision{
    display: flex;
    flex-direction: row;
}

#Mision img{
    width: 50%;
    object-fit: cover;
}

.contentAcerca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txtContent{
    width: 75%;
}

#Mision h1{
    font-family: sans-serif;
}

#Mision p{
    font-family: sans-serif;
    text-align: justify;
}

#logo h1{
    font-family: sans-serif;
}

#logo p{
    font-family: sans-serif;
    text-align: justify;
}

@media screen and (max-width: 768px)  {
    #logo p{
        font-size: small;
        
    }
}

