/* Estilo del contenedor principal llamado #containerAcerca */
#containerAcerca {
    display: flex;              /* Utiliza el modelo de caja flexible */
    flex-direction: column;     /* Coloca los elementos internos en una columna */
    align-items: center;       /* Centra los elementos horizontalmente */
    height: 100vh;              /* Toma el 100% de la altura de la ventana */
    background-color: #fff;     /* Fondo blanco */
    margin-top: 20px;           /* Margen superior de 20px */
    width: 100%;                /* Toma el 100% del ancho de su contenedor */
}

/* Estilo del contenedor #container_content dentro de #containerAcerca */
#container_content {
    display: flex;              /* Utiliza el modelo de caja flexible */
    flex-direction: row;        /* Coloca los elementos internos en una fila */
    align-items: center;        /* Centra los elementos verticalmente */
    justify-content: center;    /* Centra los elementos horizontalmente */
    width: 100%;                /* Toma el 100% del ancho de su contenedor */
    height: 25%;                /* Toma el 25% de la altura de su contenedor */
}

/* Estilo de las imágenes dentro de #tel */
#tel img {
    width: 25%;                 /* Establece el ancho de la imagen al 25% de su contenedor */
    margin-top: 25px;           /* Añade un margen superior de 25px */
}

/* Estilo de las imágenes dentro de #insta */
#insta img {
    width: 25%;                 /* Establece el ancho de la imagen al 25% de su contenedor */
    margin-top: 23px;           /* Añade un margen superior de 23px */
}

/* Estilo de las imágenes dentro de #face */
#face img {
    width: 25%;                 /* Establece el ancho de la imagen al 25% de su contenedor */
    margin-top: 25px;           /* Añade un margen superior de 25px */
}

/* Estilo adicional para #container_content */
#container_content {
    display: grid;              /* Utiliza el modelo de caja de cuadrícula */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    gap: 20px;                  /* Espacio entre las celdas de 20px */
    margin-top: 20px;           /* Margen superior de 20px */
}

/* Estilo común para los elementos #tel, #insta, y #face */
#tel, #insta, #face {
    text-align: center;         /* Centra el texto horizontalmente */
}

/* Estilo para los elementos <h3> dentro de #container_content */
#container_content h3 {
    margin: 0;                  /* Elimina el margen predeterminado de <h3> */
}
