#containerAcerca{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: auto;
    background-color: #fff;
    margin-top: 70px;
}

.Informacion{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    background-color: black;
}


.round-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }


.texto h1{
  color: white;
  font-size: 236px; 
}


.titAcerca{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: auto;
    background-color: #808080;
    border-radius: 10px;
    margin-top: 35px;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.txtAcerca{
    width: 60%;
    height: auto;
    margin-top: 35px;
}