.Busqueda{
  display: flex;
}

.icono {
  position: absolute;
  top: 25%;
  left: 5.5%;
  z-index: 1;
  color: black;
}

.rectangle {
  position: relative;
  width: 420px;
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  border-radius: 35px;
  border: 2px solid #000;  
  margin-top: 45px;
  margin-left: 0px;
}

.textbox {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 20px;
  outline: none;
  background-color: #fff;
  border-color: transparent;
  transition: border-bottom 1s;
}

.textbox:hover {
  border-bottom: 0.5px solid #6c757d;
}

.textbox:focus {
  border: none;
  border-bottom: 0.5px solid #6c757d;
  outline: none;
  background-color: #fff;
  color: black;
}

.filtros {
  position: relative;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  margin-top: 45px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.filtros button{
  background-color: transparent;
  border-radius: 35px;
  border: 2px solid #000;
  width: 100%;
}

.iconoF {
  order: -1;
  margin-right: 5px;
}


.Canastas {
  position: relative;
  top: 1rem;
}

.Eventos {
  position: relative;
  top: 3rem;
}

.Cajas {
  position: relative;
  top: 3rem;
}

.ArreglosF {
  position: relative;
  top: 3rem;
}

.ArreglosG {
  position: relative;
  top: 3rem;
}

.Ramos {
  position: relative;
  top: 3rem;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.container h1{
  margin-top: 2rem;
  text-align: center;
  color: #C23532;
}

.filters-container h2{
  color: #C23532;
}

.product-container{
  margin-top: 2rem;
}